.popular-creators {
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  width: 100%;
}

.creators-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100%;
  padding: 0 20px;
}

.creator {
  position: relative;
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.more {
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #333;
  transition: 0.2s;
}

.more:hover {
  background-color: #333;
}

.name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}

.creator img {
  width: 100%;
  height: 100%;
  max-width: 185px;
  border-radius: 10px;
  opacity: 0.5;
  transition: 0.2s;
}

.creator img:hover {
  opacity: 0.8;
}
