.right-sidebar {
    width: 25%;
    padding: 20px;
    position: absolute;
    top: 53px;
    margin-left:75%;
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    height: 100%;
}

.ad-placeholder {
    margin-top: 20px;
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    height: 300px;
}


.post-placeholder {
    margin-top: 20px;
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    height: 400px;
}

