.sidebar {
    width: 20%;
    padding: 20px 0;
    position: absolute;
    border: 1px solid #333;
    border-top: none;
    border-left: none;
    height: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    font-size: 20px;
}
.sidebar ul {
    list-style: none;
}

.sidebar ul{
    width: 100%;
    cursor: pointer;

} 
.sidebar ul li{
    padding: 10px;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}
.sidebar ul li:hover{
   background-color: #333;
   border-radius: 10px;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}
.join-us {
    padding: 10px 20px 20px 10px;
    color: #6a6a6a;
}
.contact-btn {
    background-color: rgba(255, 217, 0, 0.651);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.2s;
}
.contact-btn:hover {
    background-color: rgba(255, 217, 0, 0.735);
}