/* Main Content */
.main-content {
  width: 100%;
  padding: 10px 40px;
  border-top: 1px solid #333;
}
/* posts */
.posts {
  margin-top: 20px;
}

.tabs span {
  margin-right: 20px;
  cursor: pointer;
}

.filter-options {
  background-color: #1a1a1a; /* Dark background */
  color: white; /* White text */
  border: 1px solid #333; /* Subtle border */
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  appearance: none; /* Remove default select arrow */
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: 0.2s;
}

.filter-options:hover {
  background-color: #333; /* Dark background */
}

.filter-options:focus {
  outline: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
  border-radius: 10px;
}

/* post Card */
.post-card {
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
}
.post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.date {
  color: #666;
  font-size: 12px;
  margin-left: 10px;
}
.author {
  font-weight: bold;
}

.post-title {
  font-weight: bold;
  margin-bottom: 15px;
}
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.post-content {
  margin-top: 15px;
  width: 70%;
}
.post-image{
  width: 55%;
  border-radius: 10px;
}
.post-image img{
    width:100%;
    border-radius: 10px;
  }
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-right: 10px;
}
